:root {
  --pluginBorderWidth: 4px;
  --pluginHeight: 12px;
  --pluginWidth: 6px;
  --pluginBorderColor:#ecf0f1 ;
}
.dl-button {
  position: fixed;
  right: 60px;
  top: 8px;
  padding: 10px;
  display: none;
  overflow: hidden;
  font-size: 0.7777777777777778rem;
  border-width: 0;
  outline: none;
  border-radius: 2px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .6);  
  background-color:#2ecc71;
  color: #ecf0f1;  
  transition: background-color .3s;
  z-index: 999999;
  cursor: pointer
}


.dl-button:hover {
    background-color: #0e7539;
    color: white;
}

.check {
  display: inline-block;
  transform: rotate(45deg);
  height: var(--pluginHeight);
  width: var(--pluginWidth);
  border-bottom: var(--pluginBorderWidth) solid var(--pluginBorderColor);
  border-right: var(--pluginBorderWidth) solid var(--pluginBorderColor);
}

.plugin-flex{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}